<P>Book was successfully created.</P>
<P>
 Title: <%= @book.title %>
</P>
<P> 
 Body: <%= @book.body %>
</P>
<P>
 <%= link_to "Edit", edit_book_path(@book.id) %>|<%= link_to "Back", books_path %>
</P>